BOT_NAME=Alya MD
PREFIX=-
MODS=comma,separated,admin,numbers
PORT=3000
CHAT_BOT_URL=
SESSION=your-session-label
MONGO_URI=mongodb+srv://username:password@cluster.example.mongodb.net/database
SESSION_SECRET=replace-with-a-long-random-secret